[opener]
# Vim 作为文本文件的默认编辑器
helix = [
  { run = 'helix "%0"', block = true, orphan = false, desc = "Edit with helix", for = "windows" }
]

# VSCode 作为可选编辑器
vscode = [
  { run = 'code "%0"', block = false, orphan = true, desc = "Open with VSCode", for = "windows" }
]

# 解压缩
extract = [
  { run = 'nu C:/Users/sylvan/.config/nushell/scripts/smart-extract.nu "%0"', block = false, orphan = false, desc = "Smart extract archived file", for = "windows" },
]

# 压缩到 tar.gz 格式
compress_tgz = [
  { run = 'nu C:/Users/sylvan/.config/nushell/scripts/smart-archive.nu tar.gz %*', block = false, orphan = false, desc = "Smart compress in .tar.gz file", for = "windows" }
]

# 压缩到 zip 格式
compress_zip = [
  { run = 'nu C:/Users/sylvan/.config/nushell/scripts/smart-archive.nu zip %*', block = false, orphan = false, desc = "Smart compress in .zip file", for = "windows" }
]

# 系统默认应用打开
open = [
  { run = 'start "" %*', block = false, orphan = true, desc = "Open with system default", for = "windows" }
]

# 使用 explorer 查看
explorer = [
  { run = 'explorer /select,"%0"', block = false, orphan = true, desc = "Reveal in file explorer", for = "windows" }
]

[open]
rules = [
  # 文本文件使用 vim 默认打开
  { name = "*.toml", use = ["helix", "vscode", "open"] },
  { name = "*.nu"  , use = ["helix", "vscode", "open"] },
  { name = "*.lua" , use = ["helix", "vscode", "open"] },
  { mime = "text/*", use = ["helix", "vscode", "open"] },
    
  # 压缩文件解压
  { name = "*.zip", use = "extract" },
  { name = "*.7z", use = "extract" },
  { name = "*.rar", use = "extract" },
  { name = "*.tar", use = "extract" },
  { name = "*.tar.gz", use = "extract" },
  { name = "*.tar.xz", use = "extract" },
  { name = "*.tgz", use = "extract" },
  { name = "*.gz", use = "extract" },
  { name = "*.bz2", use = "extract" },
  
  # 其他文件使用系统默认应用
  { mime = "*", use = ["open", "helix", "vscode", "extract", "compress_tgz", "compress_zip", "explorer"] }
]

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"
