// Set the regular wallpaper on the backdrop.
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

layer-rule {
    match namespace="noctalia-bar-content-*"
    background-effect {
        blur true
    }
}
